.signin {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-form {
  width: 360px;

  background: #fff;

  margin-bottom: 4rem;
  padding: 2rem;

  border-radius: var(--border-radius-sm);

  box-shadow: 0 0 2px var(--color-shadow);
}

.signin-form__heading {
  margin-bottom: 2rem;

  font-weight: 400;
  text-align: center;
}

.signin-form .button-primary {
  margin-top: 2rem;
}
