.sidebar-nav-item {
}

.sidebar-nav-item__link {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;

  color: var(--color-primary);

  font-size: 1.2rem;

  text-decoration: none;
}

.sidebar-nav-item__link:hover {
  background: var(--color-primary-lightest);
}


/* Modifiers */

.sidebar-nav-item--active .sidebar-nav-item__link {
  background: var(--color-primary);
  color: var(--color-bg);
}
